<!DOCTYPE html>
<html lang="en">
{{> navbar-sidebar }}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tiendas Bam Bam</title>

  <!-- Llamada de CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <!-- Hoja de estilo CSS-->
  <link rel="stylesheet" href="/css/typicons.css">
  <link rel="stylesheet" href="/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Favicon Icon -->
  <link rel="shortcut icon" href="/img/favicon.png" />
  <!-- Ver billing -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />


</head>

<body>
  <div class="flex flex-row gap-4">

    <div class="basis-1/2">
      <!--TABLA PARA SELECIONAR EL REPORTE-->
      <div class="p-4 w-full max-w-sm bg-white rounded-lg border shadow-md sm:p-6
                dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
          Seleccione el Reporte a Generar
        </h5>

        <p class="text-sm font-normal text-gray-500
                dark:text-gray-400">
          Selecione entre las siguientes opciones el reporte que quiere Generar.</p>
        <ul class="my-4 space-y-3">

          <li>

            <a id="open-modal" data-modal-toggle="facturas-modal" class="flex items-center p-3 text-base font-bold text-gray-900
                         bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                         dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span id="open-modal" class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Facturas
              </span>
            </a>

          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="inventario-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 292 292" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Inventario
              </span>
            </a>
          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="terceros-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" svg="" class="h-5" viewBox="0 0 75.591 75.591" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Terceros
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de ...
              </span>
            </a>
          </li>

          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                reporte ...
              </span>
            </a>
          </li>

        </ul>


      </div>
    </div>

    <div class="basis-1/2">
      <!--TABLA PARA SELECIONAR EL REPORTE-->
      <div class="p-4 w-full max-w-sm bg-white rounded-lg border shadow-md sm:p-6
                dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
          Seleccione el Reporte a Generar
        </h5>

        <p class="text-sm font-normal text-gray-500
                dark:text-gray-400">
          Selecione entre las siguientes opciones el reporte que quiere Generar.</p>
        <ul class="my-4 space-y-3">

          <li>

            <a id="open-modal" data-modal-toggle="facturas-modal" class="flex items-center p-3 text-base font-bold text-gray-900
                         bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                         dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span id="open-modal" class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Facturas
              </span>
            </a>

          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="inventario-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 292 292" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Inventario
              </span>
            </a>
          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="terceros-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" svg="" class="h-5" viewBox="0 0 75.591 75.591" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Terceros
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de ...
              </span>
            </a>
          </li>

          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                reporte ...
              </span>
            </a>
          </li>

        </ul>


      </div>
    </div>

    <div class="basis-1/2">
      <!--TABLA PARA SELECIONAR EL REPORTE-->
      <div class="p-4 w-full max-w-sm bg-white rounded-lg border shadow-md sm:p-6
                dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
          Seleccione el Reporte a Generar
        </h5>

        <p class="text-sm font-normal text-gray-500
                dark:text-gray-400">
          Selecione entre las siguientes opciones el reporte que quiere Generar.</p>
        <ul class="my-4 space-y-3">

          <li>

            <a id="open-modal" data-modal-toggle="facturas-modal" class="flex items-center p-3 text-base font-bold text-gray-900
                         bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                         dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span id="open-modal" class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Facturas
              </span>
            </a>

          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="inventario-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 292 292" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Inventario
              </span>
            </a>
          </li>

          <li>
            <a href="#" id="open-modal" data-modal-toggle="terceros-modal" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
                             dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" svg="" class="h-5" viewBox="0 0 75.591 75.591" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de Terceros
              </span>
            </a>
          </li>
          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-5" viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Reporte de ...
              </span>
            </a>
          </li>

          <li>
            <a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow
            dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
              <svg aria-hidden="true" class="h-4" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                reporte ...
              </span>
            </a>
          </li>

        </ul>


      </div>
    </div>


  </div>

  <!-- modal facturas-->
  <div id="facturas-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">

      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow
             dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
                     dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="facturas-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>

        <div class="py-6 px-6 lg:px-8">
          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Reporte de Facturas</h3>

          <form class="space-y-6" action="#">

            <div>
              <label for="tipo-factura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Tipo de Factura
                        </label>
                        <select id=" tipo-factura"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-900 dark:focus:border-gray-900">
                <option>Venta</option>
                <option>Compra</option>
                <option>Devolucion</option>
                <option>Pedidos</option>
                </select>
            </div>

            <div>
              <label for="sucursal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Sucursal
                        </label>
                        <select id=" sucursal"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#050708]/50 focus:border-[#050708]/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#050708]/50 dark:focus:border-[#050708]/50">
                <option>Sucursal 1</option>
                <option>Sucursal 2</option>
                </select>
            </div>

            <div date-rangepicker="" class="flex items-center gap-2">

              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha Inicial
                                </label>
                            </div>
                                <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6
                    pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input name="start" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha inicio">
              </div>
              <span class="flex align-baseline mx-4 mt-4 text-gray-500">hasta</span>
              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha final
                                </label>
                            </div>
                                    
                              <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6 pointer-events-none">

                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>

                <input name="end" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha fin">
              </div>
            </div>
            <div class="flex items-center pt-4">
              <button type="button" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
                                     dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 mr-2 mb-2">
                Consultar
              </button>
            </div>

        </div>


        </form>
      </div>
    </div>
  </div>

  <!--modal de Inventario-->
  <div id="inventario-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">

      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow
             dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
                     dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="inventario-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>

        <div class="py-6 px-6 lg:px-8">
          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Reporte de Inventario</h3>

          <form class="space-y-6" action="#">

            <div>
              <label for="tipo-factura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Estado del inventario
                        </label>
                        <select id=" tipo-factura"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-900 dark:focus:border-gray-900">
                <option>Inventario Actual</option>
                <option>Inventario Vencido</option>
                <option>Inventario Proximo a Vencer</option>
                </select>
            </div>

            <div>
              <label for="sucursal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Sucursal
                        </label>
                        <select id=" sucursal"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#050708]/50 focus:border-[#050708]/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#050708]/50 dark:focus:border-[#050708]/50">
                <option>Sucursal 1</option>
                <option>Sucursal 2</option>
                </select>
            </div>

            <div date-rangepicker="" class="flex items-center gap-2">

              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha Inicial
                                </label>
                            </div>
                                <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6
                    pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input name="start" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha inicio">
              </div>
              <span class="flex align-baseline mx-4 mt-4 text-gray-500">hasta</span>
              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha final
                                </label>
                            </div>
                                    
                              <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6 pointer-events-none">

                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>

                <input name="end" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha fin">
              </div>
            </div>
            <div class="flex items-center pt-4">
              <button type="button" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
                                     dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 mr-2 mb-2">
                Consultar
              </button>
            </div>

        </div>


        </form>
      </div>
    </div>
  </div>

  <!-- modal de Terceros-->
  <div id="terceros-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">

      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow
             dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center
                     dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="terceros-modal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>

        <div class="py-6 px-6 lg:px-8">
          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Reporte de Terceros</h3>

          <form class="space-y-6" action="#">

            <div>
              <label for="tipo-factura" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Tipo de Tercero
                        </label>
                        <select id=" tipo-factura"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-900 focus:border-gray-900 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-900 dark:focus:border-gray-900">
                <option>Cliente</option>
                <option>Distribuidor</option>
                </select>
            </div>

            <div>
              <label for="sucursal" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                            Sucursal
                        </label>
                        <select id=" sucursal"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#050708]/50 focus:border-[#050708]/50 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#050708]/50 dark:focus:border-[#050708]/50">
                <option>Sucursal 1</option>
                <option>Sucursal 2</option>
                </select>
            </div>

            <div date-rangepicker="" class="flex items-center gap-2">

              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha Inicial
                                </label>
                            </div>
                                <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6
                    pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input name="start" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha inicio">
              </div>
              <span class="flex align-baseline mx-4 mt-4 text-gray-500">hasta</span>
              <div class="relative">
                <div>
                  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"">
                                     Fecha final
                                </label>
                            </div>
                                    
                              <div class=" flex absolute inset-y-0 left-0 items-center pl-3 mt-6 pointer-events-none">

                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                      viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                    </svg>
                </div>

                <input name="end" type="text"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                  placeholder="fecha fin">
              </div>
            </div>
            <div class="flex items-center pt-4">
              <button type="button" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center
                                     dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 mr-2 mb-2">
                Consultar
              </button>
            </div>

        </div>


        </form>
      </div>
    </div>
  </div>




  <script src="/js/modal.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/datepicker.js"></script>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>

</html>
{{> footer }}