{{> navbar-sidebar }}



<div class="main-panel">
  <div class="col-12 grid-margin">
    <div class="card">
      <header class="reports-header">
        <h1 class="reports-header--title">REPORTES</h1>
        <p>En la siguiente sección se encuentran los reportes en PDFs de los diferentes modulos del aplicativo</p>
      </header>
      <!-- Formulario de tarjetas -->
      <form class="cards-container">
        <div class="report-card">
          <h2>FACTURAS</h2>
          <img src="/img/facturacion-card.svg" alt="Facturas" width="200px">
          <div class="report-field--container">
            <div class="reportfield1">
              <label for="">FECHA INICIAL</label>
              <input type="date">
            </div>
            <div class="reportfield2">
              <label for="">FECHA FINAL</label>
              <input type="date">
            </div>
            <div class="reportfield3">
              <label for="">PREFIJO</label>
              <input type="text">
            </div>
            <div class="reportfield4">
              <label for="">TIPO</label>
              <select name="select">
                <option value="value1">Venta</option>
                <option value="value3">Compra</option>
              </select>
            </div>
          </div>

          <div class="report-button--wrapper" id="report-button--wrapper">
            <button type="submit" name="button" class="report-button--add">CONSULTAR</button>
          </div>
        </div>

        <div class="report-card">
          <h2>INVENTARIO</h2>
          <img src="/img/Inventario-card.svg" alt="Inventario" width="200px">
          <div class="report-field--container">
            <div class="reportfield1">
              <label for="">FECHA INICIAL</label>
              <input type="date">
            </div>
            <div class="reportfield2">
              <label for="">FECHA FINAL</label>
              <input type="date">
            </div>
            <div class="reportfield3">
              <label for="">PRODUCTO</label>
              <input type="text">
            </div>
            <div class="reportfield4">
              <label for="">GRUPO</label>
              <select name="select">
                <option value="value1">Lacteos</option>
                <option value="value3">Granos</option>
              </select>
            </div>
          </div>

          <div class="report-button--wrapper" id="report-button--wrapper">
            <button type="submit" name="button" class="report-button--add">CONSULTAR</button>
          </div>
        </div>

        <div class="report-card">
          <h2>TERCEROS</h2>
          <img src="/img/terceros-card.svg" alt="Terceros" width="200px">
          <div class="report-field--container">
            <div class="reportfield1">
              <label for="">FECHA INICIAL</label>
              <input type="date">
            </div>
            <div class="reportfield2">
              <label for="">FECHA FINAL</label>
              <input type="date">
            </div>
            <div class="reportfield3">
              <label for="">CC</label>
              <input type="text">
            </div>
            <div class="reportfield4">
              <label for="">TIPO</label>
              <select name="select">
                <option value="value1">Cliente</option>
                <option value="value3">Proveedor</option>
                <option value="value3">Facturador</option>
              </select>
            </div>
          </div>

          <div class="report-button--wrapper" id="report-button--wrapper">
            <button type="submit" name="button" class="report-button--add">CONSULTAR</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>


    <!-- Button trigger modal -->

    <!-- Modal -->
    <!-- Modal de Edicion de prod factura-->





    <script src="js/script.js"></script>
    <script src="/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->

    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="js/typeahead.bundle.min.js"></script>
    <script src="js/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/notificacion.js"></script>
    <script src="/js/ventana.js"></script>
    <script src="/js/smsvalidacion.js"></script>
    <script src="/js/inputLote.js"></script>

    <!-- Llamada de Scripts del Proyecto-->
    </body>


    {{> footer }}

  </html>