{{> navbar-sidebar }}

<head>


  <link rel="stylesheet" href="/css/typicons.css">
  <link rel="stylesheet" href="/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/radioinput.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/img/favicon.png" />

  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;800&display=swap"
    rel="stylesheet" />
  <!-- Line Awesome CDN Link -->
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />

</head>
<main style="background-color: rgb(187, 41, 48);">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Productos a la Factura</h4>
        <form class="form-sample needs-validation" novalidate>
          <p class="card-description">
            A continuacion, llena el siguiente formulario con informacion de la Factura
          </p>
          </br>


          <p class="card-description" bold>
            <b> Informacion De Facturacion </b>
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Codigo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="10001" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha Creado</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="23/12/2021" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cliente</label>
                <div id="the-basics2" class="col-sm-9">
                  <input class="typeahead" type="text" placeholder="Digita" id="idp" required>
                  <div class="valid-feedback">
                    Producto existente
                  </div>
                  <div class="invalid-feedback">
                    digita un producto
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cedula</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control" placeholder="1193551182" id="idv" disabled />
                  <div class="valid-feedback">
                    ¡ Nombre valido !
                  </div>
                  <div class="invalid-feedback">
                    Parece que tienes caracteres o alfanumericos en el vendedor
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo de Factura</label>
                <div class="col-sm-9">
                  <select class="form-control" disabled>
                    <option>FC</option>
                    <option>FV</option>
                    <option>DC Compra</option>
                    <option>DV</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Vendedor</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Auxiliar X" id="idv" disabled />
                  <div class="valid-feedback">
                    ¡ Nombre valido !
                  </div>
                  <div class="invalid-feedback">
                    Parece que tienes caracteres o alfanumericos en el vendedor
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tipo de Factura</label>
                <div class="col-sm-9">
                  <select class="form-control" name="lote" id="lote"> </select>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Vendedor</label>
                <div class="col-sm-9">
                  <div class="modal-body">
                    <h5>Popover in a modal</h5>
                    <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title"
                        data-bs-content="Popover body content is set in this attribute.">button</a> triggers a popover
                      on click.</p>
                    <hr>
                    <h5>Tooltips in a modal</h5>
                    <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#"
                        class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
















          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleTextarea1">Descripcion del Pedido</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4"
                  placeholder="Ingresa una breve descripcion (Compra al por mayor, Devolucion, Venta unitaria..)"></textarea>
                <div class="valid-feedback">
                  Una breve descripcion, es opcional esta descripcion
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Fecha Asentado</label>
                <div class="col-sm-9">
                  <input class="form-control" type="date" value="2001-12-23" />
                </div>

              </div>
            </div>
          </div>
          <p class="card-description col-md-3 offset-md-3 pd-12" bold>
            <b> Agregar Productos A la Factura </b>
          </p>
          <div class="row">
            <div class="col-md-6 col-md-3 offset-md-3 col-pd-12">
              <div class="form-group row">
                <div class="col">
                  <label>Producto</label>
                  <div id="the-basics" class="col-sm-18">
                    <input class="typeahead" type="text" placeholder="Digita" id="idp" required>
                    <div class="valid-feedback">
                      Producto existente
                    </div>
                    <div class="invalid-feedback">
                      digita un producto
                    </div>
                  </div>
                </div>
                <div class="col">
                  <label>Cantidad</label>
                  <div class="col-sm-18">
                    <input type="number" class="form-control" placeholder="Cuanto" id="idctd" required>
                    <div class="valid-feedback">
                      Cantidad ingresada
                    </div>
                    <div class="invalid-feedback">
                      Digita un numero
                    </div>
                  </div>
                </div>

                <div class="col">
                  <label>Valor</label>
                  <div class="col-sm-18">
                    <input type="number" class="form-control" placeholder="Como" id="idpre" required />
                    <div class="valid-feedback">
                      Valor ingresada
                    </div>
                    <div class="invalid-feedback">
                      Digita un numero
                    </div>
                  </div>
                </div>

              </div>
              <button class="btn btn-success btn-rounded btn-fw" onclick="verif()">Agregar Producto</button>
              <button class="btn btn-danger btn-rounded btn-fw">Limpiar Campos</button>
            </div>
          </div>



          </br>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cantidad</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="28" disabled />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Costo Total</label>
                <div class="col-sm-9">
                  <input class="form-control" placeholder="$128.000" disabled />
                </div>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
    </br>
    <div class="main-panel">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 grid-margin long-card col-md-3 offset-md-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Productos de la factura</h4>
                    <p class="card-description">
                      ¡Visualiza todos los productos de la factura!
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Nombre del Producto</th>
                            <th>Cantidad</th>
                            <th>Valor</th>
                            <th>Accion</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Gaseosa Pepsi</td>
                            <td>12</td>
                            <td>$1.400</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal2">
                                Editar Producto
                              </button> </td>
                          </tr>
                          <tr>
                            <td>Arroz Diana</td>
                            <td>1</td>
                            <td>$3.500</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal2">
                                Editar Producto
                              </button> </td>
                          </tr>
                          <tr>
                            <td>Atun Economox</td>
                            <td>2</td>
                            <td>$3.500</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal2">
                                Editar Producto
                              </button> </td>
                          </tr>
                          <tr>
                            <td>Aceite Cocina 1L</td>
                            <td>3</td>
                            <td>$4.500</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal2">
                                Editar Producto
                              </button> </td>
                          </tr>
                          <tr>
                            <td>Jabon Dove</td>
                            <td>1</td>
                            <td>$7.900</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal2">
                                Editar Producto
                              </button> </td>
                          </tr>
                          <tr>
                            <td>Salmon Fresco</td>
                            <td>3</td>
                            <td>$1.500</td>
                            <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Eliminar Producto
                              </button> </td>
                            <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                data-target="#exampleModal3">
                                Editar Producto
                              </button> </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>



              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirmacion de Eliminacion del Producto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ¿Estas seguro de eliminar el producto "XXXXX" con un total de "XXXXX"?
                      Esta accion es <b>Irreversible</b>, ¡confirma la accion!
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                      <button type="submit" class="btn btn-primary">Eliminar Producto</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Modal -->



              <!-- Modal de Edicion de prod factura-->
              <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Editar Producto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Ten en cuenta que editar producto implica consultar items que pueden que ya no esten en el
                      inventario, <b>ok!</b>
                    </div>
                    <form>
                      <div class="row">
                        <div class="col-md-6 col-md-3 offset-md-3 col-pd-12">
                          <div class="form-group row">
                            <div class="col-md-6">
                              <label>Producto</label>
                              <div id="the-basics" class="col-sm-18">
                                <input class="typeahead" type="text" placeholder="Digita" id="idp2" required>
                                <div class="valid-feedback">
                                  Producto existente
                                </div>
                                <div class="invalid-feedback">
                                  digita un producto
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <label>Cantidad</label>
                              <div class="col-sm-18">
                                <input type="number" class="form-control" placeholder="Cuanto" id="idctd2" required>
                                <div class="valid-feedback">
                                  Cantidad ingresada
                                </div>
                                <div class="invalid-feedback">
                                  Digita un numero
                                </div>
                              </div>
                            </div>

                            <div class="col">
                              <label>Valor</label>
                              <div class="col-sm-18">
                                <input type="number" class="form-control" placeholder="Como" id="idpre2" required />
                                <div class="valid-feedback">
                                  Valor ingresada
                                </div>
                                <div class="invalid-feedback">
                                  Digita un numero
                                </div>
                              </div>
                            </div>



                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" onclick="verif2()">Modificar Producto</button>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->

    <!-- Modal -->
    <!-- Modal de Edicion de prod factura-->





    <script src="js/script.js"></script>
    <script src="/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->

    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="js/typeahead.bundle.min.js"></script>
    <script src="js/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/notificacion.js"></script>
    <script src="/js/ventana.js"></script>
    <script src="/js/smsvalidacion.js"></script>
    <script src="/js/inputLote.js"></script>

    <!-- Llamada de Scripts del Proyecto-->
    </body>


    {{> footer }}

    </html>