 {{> navbar-sidebar }}

      <div class="main-panel">   
        <main>
    <section class="inventory-addProduct" id="inventory-addProduct">
      <div>
        <h1 class="inventory-addProduct--title">FACTURACIÓN</h1>
      </div>
      <div>
        <form class="form-grid" action="">
          <div class="form-grid--addBill1">
            <div class="form-field addBillfield1">
              <label for="">PREFIJO</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield2">
              <label for="">FECHA</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield3">
              <label for="">ASENTADO</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield4">
              <label for="">TIPO</label>
              <select name="select">
                <option value="value1">Venta</option>
                <option value="value3">Compra</option>
              </select>
            </div>
            <div class="form-field addBillfield5">
              <label for="">CLIENTE</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield6">
              <label for="">VENDEDOR</label>
              <input type="text">
            </div>
            <!-- <div class="form-img addBillfield7">
              <img src="/img/facturacion.svg" alt="facturacion" width="253px">
            </div> -->
          </div>
          <div class="form-grid--addBill2">
            <div class="form-field addBillfield7">
              <label for="">OBSERVACIÓN</label>
              <textarea name="observacion" spellcheck="true"></textarea>
            </div>
            <div class="form-field addBillfield8">
              <img src="/img/facturacion.svg" alt="Facturación" width="153px">
            </div>
            <div class="form-field addBillfield9">
              <label for="">PRODUCTO</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield10">
              <img src="/img/ejemplofactura.svg" alt="Ejemplo factura" width="200px">
            </div>
            <div class="form-field addBillfield11">
              <label for="">CANTIDAD</label>
              <input type="text">
            </div>
            <div class="form-field addBillfield12">
              <label for="">VALLOR UND</label>
              <input type="text">
            </div>
          </div>

          <!-- Botones inferiores -->

          <div class="form-bill--buttonsgp">
            <div class="left-bill--buttonsgp">
              <div class="form-bill--button"><img src="/img/leftarrow.svg" alt="Flecha a la izquerda"><span>Anterior</span></div>
              <div class="form-bill--button"><img src="/img/guardar.svg" alt="Guardar"><span>Guardar</span></div>
              <div class="form-bill--button"><img src="/img/x.svg" alt="Cancelar"><span>Cancelar</span></div>
              <div class="form-bill--button"><img src="/img/imprimir.svg" alt="Imprimir"><span>Imprimir</span></div>
              <div class="form-bill--button"><img src="/img/rightarrow.svg" alt="Flecha a la derecha"><span>Siguiente</span></div>
            </div>
            <img src="/img/separadorblack.svg">
            <div class="right-bill--buttonsgp">
              <div class="form-bill--button"><img src="/img/check.svg" alt="Checkeado"><span>+  Asentar</span></div>
              <div class="form-bill--button"><img src="/img/anular.svg" alt="Anular"><span>Anular</span></div>
              <div class="form-bill--button"><img src="/img/reversar.svg" alt="Reversa"><span>Reversar</span></div>
            </div>
          </div>

        </form>
      </div>
    </section>
  </main>
      </div>