 </div> <!-- Este Div ayuda a cerrar la barra de navegacion -->
 <div class="card bg-dark">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">  2022  <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank"></a>Todos los derechos reservados©.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted"> <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Tiendas Bam Bam</a> mas cerca de ti</span>
                    </div>
                </div>    
            </div>